@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/metropolis-2");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Garnet';
  src: url('/fonts/GarnetCapitals-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.custom-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 1;
  transition: transform 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  transform: scale(1.3);
  background-color: #f38920;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }
  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }
  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }
  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

.animate-blob-bounce {
  animation: blob-bounce 5s infinite ease;
}
/* Default bullet style */
.swiper-pagination-bullet {
  margin-top: 20px;
  width: 8px;
  height: 8px;
  background-color: #ddd;
  opacity: 1;
  transition: width 0.3s ease, height 0.3s ease;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background-color: #a667d1; /* Example: active bullet color */
}

/* Dynamic next/prev bullets */
.swiper-pagination-bullet-next,
.swiper-pagination-bullet-prev {
  width: 10px;
  height: 10px;
  background-color: #f38920; /* Example: dynamic bullet color */
}
